{% extends 'post/base.html' %}

{% block content %}
        <h1>Lista de Posts</h1>
                <table style="border-spacing: 17px; border-collapse: unset;">
                        <tr>
                                <th>Titulo</th>
                                <th>Data</th>

                        </tr>
                {% for posts in object_list %}
                        <tr>
                                <td>{{ posts.title }}</td>
                                <td>{{ posts.published_date }}</td>

                        </tr>
                {% empty %}
                        <li>Sem itens na lista.</li>
                {% endfor %}
                </table>
{% endblock content %}
